/* common-part */



/* first-part */

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.first-section{
    background-color: rgba(32, 32, 78, 0.96);
    width: 900px;
    display: flex;
    color: white;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px 35px 0 35px;
    margin-bottom: 40px;
}

.first-part-first h1{
    font-size: 50px;

}
.first-part-first p{
    font-size: 24px;
}
.first-part-first a{
    text-decoration: none;
    background-color: brown;
    color: whitesmoke;
    font-weight: 90px;
    font-size: 22px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

/* middle-part */

.middle-part-first-section{
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

.middle-part-first-div{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}
.middle-part-first-div a{
    font-size: 22px;
    background-color: white;
    text-decoration: none;
    padding: 15px 10px 15px 10px;
    color: black;
    border-radius: 5px;
    margin: 10px 10px ;
    text-align: center;

}


.time-chat-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-part{
    align-items: center;
}

/* last part */

/* footer-part */


.footer-part{
    background-color: black;
    margin-top: 60px;
    padding: 40px;
}
.footer-goal h1{
    text-align: center;
    color: white;
    padding-bottom: 20px;

}
.footer-goal hr{
    width: 910px;
}
.footer-section{
    padding-top: 30px;
    text-align: center;
}
.footer-section a{
    text-decoration: none;
    color: white;
    padding: 0 15px 0 15px;
}